Repository typelevel/shapeless-3: changes, and which Mergify rules are due for each by the changed paths.
All: Label deriving PRs, Label local PRs, Label site PRs, Label test PRs, Label typeable PRs

Label deriving PRs:
  label:
    add:
    - deriving
    remove: []

Label local PRs:
  label:
    add:
    - local
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Label typeable PRs:
  label:
    add:
    - typeable
    remove: []

deploy: a3ee8d41d6e3b47f40de8fd6d4d49eef6911a4dc
  index.html
Due: none

deploy: b48057cbf89ade0d3db0a5cd9e208be021a6cef0
  helium/laika-helium.css
  helium/laika-helium.js
  helium/landing.page.css
  index.html
Due: none

deploy: ef799cd9f894f5261503eca58ef58ef8cb232573
  helium/laika-helium.css
  index.html
Due: none

deploy: 7d8426c4be632f5693a374969648faae0b35eaf4
  helium/site/icofont.min.css
  helium/site/laika-helium.css
  helium/site/laika-helium.js
  helium/site/landing-page.css
  index.html
Due: none

Optimize applicative traverse to build a tree with factor 128
  build.sbt
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
Due: Label deriving PRs

Add curried type aliases for Instances to be used as context bounds
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Fix FunctorK test example for recursive types
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Fix FunctorK test example for recursive types (#194)
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Fix Typeable for recursive case classes
  modules/typeable/src/main/scala/shapeless3/typeable/typeable.scala
  modules/typeable/src/test/scala/shapeless3/typeable/typeable.scala
Due: Label typeable PRs

Add curried type aliases for Instances to be used as context bounds (#193)
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Fix Typeable for recursive case classes (#195)
  modules/typeable/src/main/scala/shapeless3/typeable/typeable.scala
  modules/typeable/src/test/scala/shapeless3/typeable/typeable.scala
Due: Label typeable PRs

Expose ReflectionUtils - use at your own peril
  modules/deriving/src/main/scala/shapeless3/deriving/internals/reflectionutils.scala
  modules/typeable/src/main/scala/shapeless3/typeable/reflectionutils.scala
Due: Label deriving PRs, Label typeable PRs

Expose ReflectionUtils - use at your own peril (#196)
  modules/deriving/src/main/scala/shapeless3/deriving/internals/reflectionutils.scala
  modules/typeable/src/main/scala/shapeless3/typeable/reflectionutils.scala
Due: Label deriving PRs, Label typeable PRs

Add a value to Typeable recursive tree test
  modules/typeable/src/test/scala/shapeless3/typeable/typeable.scala
Due: Label typeable PRs

Add a value to Typeable recursive tree test (#197)
  modules/typeable/src/test/scala/shapeless3/typeable/typeable.scala
Due: Label typeable PRs

Bump base version to 3.4
  build.sbt
Due: none

Bump base version to 3.4 (#198)
  build.sbt
Due: none

deploy: 74fbfefa0883ef03ac613629e029834b64723f30
  index.html
Due: none

Update README
  README.md
Due: none

Update README (#199)
  README.md
Due: none

Support Typeable for classes parameterized by wildcards
  modules/typeable/src/main/scala/shapeless3/typeable/typeable.scala
  modules/typeable/src/test/scala/shapeless3/typeable/typeable.scala
Due: Label typeable PRs

Support Typeable for classes parameterized by wildcards (#200)
  modules/typeable/src/main/scala/shapeless3/typeable/typeable.scala
  modules/typeable/src/test/scala/shapeless3/typeable/typeable.scala
Due: Label typeable PRs

deploy: 7b496217231b4d7faa982cd9d114f23fdc5e9414
  index.html
Due: none

Add support for kinds with type restrictions (#203)
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Make erased instances public and sealed
  build.sbt
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
Due: Label deriving PRs

deploy: c56bf8d0c5563b238a8d6cd61eee6338656a7789
  helium/site/laika-helium.css
  helium/site/landing-page.css
Due: none

Make erased instances public and sealed (#206)
  build.sbt
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
Due: Label deriving PRs

Remove CODE_OF_CONDUCT, use org default [ci skip]
  CODE_OF_CONDUCT.md
Due: none

Remove CODE_OF_CONDUCT, use org default [ci skip] (#211)
  CODE_OF_CONDUCT.md
Due: none

Added usability to CoproductInstances
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

deploy: c4fdcfc11beaf955d9c4eabfea2edc82a2853a12
  helium/site/laika-helium.css
Due: none

Fix up index.md
  docs/index.md
Due: none

Fix up index.md (#220)
  docs/index.md
Due: none

deploy: 2e608eeee0d1229f9c26312919357ccde3e6b280
  index.html
Due: none

Accommodate user-defined mirrors by adding a given fromMirror
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
Due: Label deriving PRs

Move fromMirror behind an import object Generic
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
Due: Label deriving PRs

Accommodate user-defined mirrors (#219)
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
Due: Label deriving PRs

Abstract bounds
  build.sbt
  modules/deriving/src/main/scala/shapeless3/deriving/internals/kinds.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Abstract bounds (#221)
  build.sbt
  modules/deriving/src/main/scala/shapeless3/deriving/internals/kinds.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Path conditions:
  Label deriving PRs: any of: ^modules/deriving/
  Label local PRs: any of: ^local/
  Label site PRs: any of: ^site/
  Label test PRs: any of: ^modules/test/
  Label typeable PRs: any of: ^modules/typeable/
