Repository typelevel/shapeless-3: changes, and which Mergify rules are due for each by the changed paths.
All: Label deriving PRs, Label local PRs, Label site PRs, Label test PRs, Label typeable PRs

Label deriving PRs:
  label:
    add:
    - deriving
    remove: []

Label local PRs:
  label:
    add:
    - local
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Label typeable PRs:
  label:
    add:
    - typeable
    remove: []

Add tests for BifunctorK
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Add K21 for BifunctorK
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Add ScalaDoc to kinds
  modules/deriving/src/main/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/main/scala/shapeless3/deriving/internals/kinds.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Bring README into line with org Coc
  README.md
Due: none

Enable MiMa for typeable
  build.sbt
  modules/typeable/src/main/scala/shapeless3/typeable/reflectionutils.scala
Due: Label typeable PRs

Enable MiMa for typeable (#228)
  build.sbt
  modules/typeable/src/main/scala/shapeless3/typeable/reflectionutils.scala
Due: Label typeable PRs

add failing test for scala.Enumeration
  modules/typeable/src/test/scala/shapeless3/typeable/typeable.scala
Due: Label typeable PRs

use simple typeable for simple case classes
  modules/typeable/src/main/scala/shapeless3/typeable/typeable.scala
Due: Label typeable PRs

Use simple typeable for simple case classes (#232)
  modules/typeable/src/main/scala/shapeless3/typeable/typeable.scala
  modules/typeable/src/test/scala/shapeless3/typeable/typeable.scala
Due: Label typeable PRs

scala-native 0.5
  .github/workflows/ci.yml
  build.sbt
  project/plugins.sbt
Due: none

Fix compilation under Scala 3.6 new givens prioritization scheme
  modules/deriving/src/test/scala/shapeless3/deriving/instances.scala
Due: Label deriving PRs

Fix compilation under Scala 3.6 new givens prioritization scheme (#238)
  modules/deriving/src/test/scala/shapeless3/deriving/instances.scala
Due: Label deriving PRs

Move K21 to tests
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Add K21 test example with BifunctorK type class (#224)
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/test/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Add ScalaDoc to kinds (#225)
  modules/deriving/src/main/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/main/scala/shapeless3/deriving/internals/kinds.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

scala-native 0.5 (#235)
  .github/workflows/ci.yml
  build.sbt
  project/plugins.sbt
Due: none

deploy: 59221b25cad8dc2daf8fd3b4d054293766dcf4d3
  index.html
Due: none

deploy: 156601873df4e5dda411baab870a6bdd8fc35aa6
  index.html
Due: none

Ignore warnings in tests
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Added methods arity and foldLeft0
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Optimize applicative traverse to build a tree with factor 128
  build.sbt
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
Due: Label deriving PRs

Optimize applicative traverse to build a tree with factor 128 (#103)
  build.sbt
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
Due: Label deriving PRs

Add erased sealed traits to excluded MiMa filters
  build.sbt
Due: none

Add the rest of foltLeft0 syntax
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Add methods arity and foldLeft0 (#261)
  build.sbt
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Fix Tail upper bound, add a test
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Fix Tail upper bound, add a test (#267)
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Upstream Derived from kittens
  modules/deriving/src/main/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Add tests
  modules/deriving/src/main/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
Due: Label deriving PRs

Upstream Derived from kittens (#268)
  modules/deriving/src/main/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
Due: Label deriving PRs

Update tlBaseVersion
  build.sbt
Due: none

Update tlBaseVersion (#272)
  build.sbt
Due: none

deploy: db49181fcac40fcc5a2907ee594f6799192f4b63
  index.html
Due: none

Use constructA in ShowType
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Use unaliased options
  build.sbt
Due: none

Use unaliased options (#293)
  build.sbt
Due: none

Fix some of the scaladoc links
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Path conditions:
  Label deriving PRs: any of: ^modules/deriving/
  Label local PRs: any of: ^local/
  Label site PRs: any of: ^site/
  Label test PRs: any of: ^modules/test/
  Label typeable PRs: any of: ^modules/typeable/
