Repository typelevel/shapeless-3: changes, and which Mergify rules are due for each by the changed paths.
All: Label deriving PRs, Label local PRs, Label site PRs, Label test PRs, Label typeable PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=typelevel-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.2.2, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.2.2, temurin@8, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.2.2, temurin@8, rootNative)
  actions:
    merge: {}
- name: Label deriving PRs
  conditions:
  - files~=^modules/deriving/
  actions:
    label:
      add:
      - deriving
      remove: []
- name: Label local PRs
  conditions:
  - files~=^local/
  actions:
    label:
      add:
      - local
      remove: []
- name: Label site PRs
  conditions:
  - files~=^site/
  actions:
    label:
      add:
      - site
      remove: []
- name: Label test PRs
  conditions:
  - files~=^modules/test/
  actions:
    label:
      add:
      - test
      remove: []
- name: Label typeable PRs
  conditions:
  - files~=^modules/typeable/
  actions:
    label:
      add:
      - typeable
      remove: []

No longer exclude all sources from scaladoc
  build.sbt
Due: none

Fix shapeless.Annotations links
  modules/deriving/src/main/scala/shapeless3/deriving/annotation.scala
Due: Label deriving PRs

Fix some of the scaladoc links (#295)
  build.sbt
  modules/deriving/src/main/scala/shapeless3/deriving/annotation.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
Due: Label deriving PRs

Update Maven Central badge link in README.md
  README.md
Due: none

Update Maven Central badge link in README.md (#306)
  README.md
Due: none

Add Instances.zip
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
Due: Label deriving PRs

Add Instances.zip (#317)
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
Due: Label deriving PRs

Add traverse2 to ProductInstances
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Add traverse2 to ProductInstances (#316)
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/adts.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
Due: Label deriving PRs

Update tlBaseVersion to 3.6
  build.sbt
Due: none

Update tlBaseVersion to 3.6 (#319)
  build.sbt
Due: none

deploy: 434b5f49c7ad04f331a9f26d8937a5c9afa97499
  index.html
Due: none

Scala 3.9
  build.sbt
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/test/scala/shapeless3/deriving/kinds.scala
  modules/typeable/src/test/scala/shapeless3/typeable/typeable.scala
Due: Label deriving PRs, Label typeable PRs

Scala 3.9
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  modules/deriving/src/main/scala/shapeless3/deriving/annotation.scala
  modules/deriving/src/main/scala/shapeless3/deriving/internals/erased.scala
  modules/deriving/src/main/scala/shapeless3/deriving/internals/kinds.scala
  modules/deriving/src/main/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/deriving.scala
  modules/deriving/src/test/scala/shapeless3/deriving/instances.scala
  modules/deriving/src/test/scala/shapeless3/deriving/kinds.scala
  modules/deriving/src/test/scala/shapeless3/deriving/type-classes.scala
  modules/typeable/src/test/scala/shapeless3/typeable/typeable.scala
Due: Label deriving PRs, Label typeable PRs
